// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as EmilySaundersDemoApi from "../../../index.js";

export declare namespace ImdbClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ImdbClient {
    protected readonly _options: NormalizedClientOptions<ImdbClient.Options>;

    constructor(options: ImdbClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Add a movie to the database
     *
     * @param {EmilySaundersDemoApi.CreateMovieRequest} request
     * @param {ImdbClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.imdb.createMovie({
     *         title: "title",
     *         rating: 1.1
     *     })
     */
    public createMovie(
        request: EmilySaundersDemoApi.CreateMovieRequest,
        requestOptions?: ImdbClient.RequestOptions,
    ): core.HttpResponsePromise<EmilySaundersDemoApi.MovieId> {
        return core.HttpResponsePromise.fromPromise(this.__createMovie(request, requestOptions));
    }

    private async __createMovie(
        request: EmilySaundersDemoApi.CreateMovieRequest,
        requestOptions?: ImdbClient.RequestOptions,
    ): Promise<core.WithRawResponse<EmilySaundersDemoApi.MovieId>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "/movies/create-movie",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EmilySaundersDemoApi.MovieId, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.EmilySaundersDemoApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/movies/create-movie");
    }

    /**
     * Retrieve a movie from the database based on the ID
     *
     * @param {EmilySaundersDemoApi.MovieId} id
     * @param {ImdbClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link EmilySaundersDemoApi.MovieDoesNotExistError}
     *
     * @example
     *     await client.imdb.getMovie("tt0111161")
     *
     * @example
     *     await client.imdb.getMovie("tt1234")
     */
    public getMovie(
        id: EmilySaundersDemoApi.MovieId,
        requestOptions?: ImdbClient.RequestOptions,
    ): core.HttpResponsePromise<EmilySaundersDemoApi.Movie> {
        return core.HttpResponsePromise.fromPromise(this.__getMovie(id, requestOptions));
    }

    private async __getMovie(
        id: EmilySaundersDemoApi.MovieId,
        requestOptions?: ImdbClient.RequestOptions,
    ): Promise<core.WithRawResponse<EmilySaundersDemoApi.Movie>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `/movies/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as EmilySaundersDemoApi.Movie, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new EmilySaundersDemoApi.MovieDoesNotExistError(
                        _response.error.body as EmilySaundersDemoApi.MovieId,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.EmilySaundersDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/movies/{id}");
    }
}
